.about-awards {
  font-family: "Myriad Pro";
  margin-top: 120px;
  .about {
    &-image {
      width: 50%;
    }
    &-cup {
      width: 50%;
      color: #000000;
      position: relative;
      z-index: 4;
      padding: 0px 40px;
      margin-top: 80px;
      img {
        margin-bottom: 20px;
      }
      .item {
        position: relative;
        background: #ffd800;
        @include border-radius(12px);
        padding: 24px 30px 18px;
        margin-bottom: 40px;
        h4 {
          position: absolute;
          top: 0px;
          left: 50%;
          font-size: 18px;
          font-weight: bold;
          color: #ffffff;
          display: inline-block;
          background: #2a354c;
          line-height: 1;
          padding: 9px 14px 5px;
          @include border-radius(30px);
          @include transform(translate(-50%,-50%));
        }
        p {
          font-weight: bold;
          font-size: 18px;
          line-height: 16px;
          margin-bottom: 12px;
          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}

@media #{$info-laptop-medium} {
  .about-awards {
    .about {
      &-cup {
        margin-top: 0px;
        img {
        }
        .item {
          margin-bottom: 22px;
          padding: 24px 10px 18px;
          h4 {
            font-size: 16px;
          }
          p {
            font-size: 16px;
            line-height: 16px;
          }
        }
      }
    }
  }
}

@media #{$info-ipad} {
  .about-awards {
    .about {
      &-image {
        width: 100%;
      }
      &-cup {
        width: 100%;
        padding: 0px;
        img {
        }
        .item {
          margin-bottom: 22px;
          h4 {
            font-size: 16px;
          }
          p {
            font-size: 16px;
            line-height: 16px;
          }
        }
      }
    }
  }
}



.awards-prize {
  background: url("../images/banner-awards.png") no-repeat;
  background-size: cover;
  background-position: top;
  margin-top: -150px;
  padding: 170px 0px 0px;
  .item {
    position: relative;
    background: #2a354c;
    margin: 0px 34px 64px;
    padding: 20px;
    @include border-radius(15px);
    box-shadow: 6px 6px 14px -2px #333333;
    h4 {
      font-size: 24px;
      font-weight: bold;
      color: #ffffff;
      margin-bottom: 18px;
      span {
        display: block;
      }
    }
    // prize best
    &-best {
      h4 {
        span {
          color: #ffd800;
        }
      }
      .item-content {
        h5 {
          background-color: #ffd800;
        }
      }
    }
    // prize encourage
    &-encourage {
      h4 {
        span {
          color: #f2792a;
        }
      }
      .item-content {
        h5 {
          background-color: #f2792a;
        }
      }
    }
    &-content {
      h5 {
        display: inline-block;
        font-size: 14px;
        color: #000000;
        font-weight: bold;
        @include border-radius(50px);
        padding: 4px 20px;
        margin-bottom: 8px;
        width: 155px;
      }
      p {
        font-size: 14px;
        font-weight: bold;
        color: #ffffff;
        line-height: 18px;
        margin-bottom: 10px;
      }
      b {
        display: block;
        color: #ffd800;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
    &-image {
      position: absolute;
      top: 20px;
      right: 0px;
      @include transform(translate(50%,-50%));
    }
  }
}

@media #{$info-ipad-pro} {
  .awards-prize {
    background: url("../images/banner-transition-form.jpg") no-repeat;
    background-size: cover;
    background-position: top;
    margin-top: 0px;
    padding-top: 60px;
  }
}

@media #{$info-phone-normal}  {
  .awards-prize {
    .item {
      margin: 0px 0px 60px;
      &-image {
        top: 20px;
        right: 30px;
        width: 60px;
      }
    }
  }
}
