.news-detail {
  margin-top: 76px;
  .content {
    padding: 40px 0px;
    border-bottom: 2px solid #f2792a;
    &-info {
      border-bottom: 1px solid #eeeeee;
      padding-bottom: 30px;
      margin-bottom: 30px;
      h3 {
        font-size: 40px;
        font-weight: 700;
        color: orange;
        margin-bottom: 15px;
      }
      p {
        font-size: 18px;
        color: #000000;
        font-weight: 500;
        line-height: 25px;
        margin-bottom: 15px;
      }
      span {
        display: block;
        font-weight: bold;
        color: #f2792a;
      }
    }
  }
  //List item
  .new-related {
    padding: 50px 0px;
    .equal-height {
      @include flex;
    }
    .item {
      background: #ffffff;
      -webkit-box-shadow: 0px 0px 6px -2px #f2792a;
      -moz-box-shadow:    0px 0px 6px -2px #f2792a;
      box-shadow:         0px 0px 6px -2px #f2792a;
      margin-bottom: 30px;
      &:hover {
        .item-image {
          img {
            @include transform(scale(1.05));
          }
          &:before {
            opacity: 0;
          }
        }
      }
      //Image
      &-image {
        position: relative;
        display: block;
        border-bottom: 4px solid #f2792a;
        overflow: hidden;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background: rgba(0, 0, 0, 0.25);
          opacity: 1;
          z-index: 1;
          @include transition(all 0.3s);
        }
        img {
          width: 100%;
          @include transition(all 1s);
        }
        p {
          position: absolute;
          top: 0;
          right: 0px;
          color: #f2792a;
          font-weight: 900;
          background: #2a354c;
          padding: 6px 20px;
          z-index: 2;
          font-size: 14px;
        }
      }
      //Content
      &-content {
        padding: 15px 20px;
        a {
          display: block;
          color: #646464;
          font-weight: 600;
          font-size: 18px;
          line-height: 25px;
          margin-bottom: 12px;
          @include transition(all 0.3s);
          &:hover {
            color: #f2792a;
          }
        }
        p {
          color: #000000;
          font-size: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          margin-bottom: 15px;
        }
        span {
          display: block;
          font-weight: bold;
          color: #f2792a;
          margin-bottom: 20px;
          font-size: 12px;
        }
      }
    }
  }
}

@media #{$info-ipad} {
  .news-detail {
    .content {
      &-info {
        h3 {
          font-size: 25px;
          font-weight: 700;
          color: orange;
          margin-bottom: 15px;
          line-height: 35px;
        }
        p {
          font-size: 18px;
          color: #000000;
          font-weight: 500;
          line-height: 25px;
          margin-bottom: 15px;
        }
        span {
          display: block;
          font-weight: bold;
          color: #f2792a;
        }
      }
    }
  }
}
