.news-list {
  margin-top: 76px;
  background-color: #ebebeb;
  //Head news
  .head-news {
    background-color: #ffffff;
    border-bottom: 2px solid #d7d7d7;
    .title-common {
      text-align: left;
      margin-bottom: 0px;
      h3 {
        width: auto;
        height: auto;
        font-size: 19px;
        padding: 10px 20px;
        margin: 30px 0px;
      }
    }
  }
  //Body news
  .body-news {
    padding: 50px 0px;
    //List item
    .equal-height {
      @include flex;
    }
    .item {
      background: #ffffff;
      -webkit-box-shadow: 0px 0px 6px -2px #f2792a;
      -moz-box-shadow:    0px 0px 6px -2px #f2792a;
      box-shadow:         0px 0px 6px -2px #f2792a;
      margin-bottom: 30px;
      &:hover {
        .item-image {
          img {
            @include transform(scale(1.05));
          }
          &:before {
            opacity: 0;
          }
        }
      }
      //Image
      &-image {
        position: relative;
        display: block;
        border-bottom: 4px solid #f2792a;
        overflow: hidden;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background: rgba(0, 0, 0, 0.25);
          opacity: 1;
          z-index: 1;
          @include transition(all 0.3s);
        }
        img {
          width: 100%;
          @include transition(all 1s);
        }
        p {
          position: absolute;
          top: 0;
          right: 0px;
          color: #f2792a;
          font-weight: 900;
          background: #2a354c;
          padding: 6px 20px;
          z-index: 2;
          font-size: 14px;
        }
      }
      //Content
      &-content {
        padding: 15px 20px;
        a {
          display: block;
          color: #646464;
          font-weight: 600;
          font-size: 18px;
          line-height: 25px;
          margin-bottom: 12px;
          @include transition(all 0.3s);
          &:hover {
            color: #f2792a;
          }
        }
        p {
          color: #000000;
          font-size: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          margin-bottom: 15px;
        }
        span {
          display: block;
          font-weight: bold;
          color: #f2792a;
          margin-bottom: 20px;
          font-size: 12px;
        }
      }
    }
  }
}
