.voting {
  margin-top: 76px;
  &-title {
    text-align: center;
    padding: 80px 0px 16px;
    h3 {
      font-size: 30px;
      font-weight: 900;
      color: #f2792a;
    }
    p {
      font-size: 14px;
      font-weight: 500;
      color: #2a354c;
      line-height: 16px;
    }
  }
  &-banner {
    background: url("../images/banner-voting.png") no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    @include flex;
    justify-content: center;
    align-items: center;
    .content {
      width: 780px;
      @include flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 110px 0px 114px;
      .item {
        @include flex;
        align-items: center;
        width: calc((100%/3) - 15px);
        margin-right: 22px;
        margin-bottom: 27px;
        padding: 6px;
        background: -moz-radial-gradient(circle, rgba(255,127,0,1) 0%, rgba(255,190,0,1) 0%, rgba(255,127,0,1) 100%);
        background: -webkit-radial-gradient(circle, rgba(255,127,0,1) 0%, rgba(255,190,0,1) 0%, rgba(255,127,0,1) 100%);
        background: radial-gradient(circle, rgba(255,127,0,1) 0%, rgba(255,190,0,1) 0%, rgba(255,127,0,1) 100%);
        border: 3px solid #ffffff;
        @include border-radius(45px);
        @include transition(all 0.3s);
        &:hover {
          @include transform(translateY(-15px))
        }
        span {
          display: inline-block;
        }
        &-image {
          width: 72px;
          height: 72px;
          background-color: #1c2157;
          @include border-radius(50%);
        }
        &-name {
          width: 70%;
          font-size: 18px;
          font-weight: 900;
          color: #1c2157;
          padding: 0px 14px;
        }
        &:nth-child(3n) {
          margin-right: 0px;
        }
      }
    }
  }
}

@media #{$info-laptop-medium} {
  .voting {
    &-banner {
      .content {
        padding: 90px 0px 114px;
      }
    }
  }
}

@media #{$info-ipad-pro} {
  .voting {
    &-banner {
      .content {
        width: 730px;
        .item {
          &-image {
            width: 55px;
            height: 55px;
          }
          &-name {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media #{$info-ipad} {
  .voting {
    &-banner {
      .content {
        width: 550px;
        .item {
          width: calc((100%/2) - 15px);
          margin-right: 15px;
          &:nth-child(3n) {
            margin-right: 15px;
          }
          &:nth-child(even) {
            margin-right: 0px;
          }
        }
      }
    }
  }
}

@media #{$info-phone-normal} {
  .voting {
    &-banner {
      padding: 0px 20px;
      .content {
        width: 100%;
        .item {
          width: 100%;
          margin-right: 0px;
          &:nth-child(3n) {
            margin-right: 0px;
          }
          &:nth-child(even) {
            margin-right: 0px;
          }
        }
      }
    }
  }
}

.modal {
  &-content {
    border: none;
    .close {
      position: absolute;
      z-index: 5;
      right: 0px;
      width: 32px;
      height: 32px;
      font-size: 40px;
      line-height: 0;
      background: #1c2157;
      color: #ff4040;
      opacity: 1;
      text-shadow: unset;
      @include border-radius(4px);
      &:focus {
        outline: none;
        opacity: 1;
      }
      &:hover {
        opacity: 1!important;
      }
    }
  }
  &-body {
    .image {
      img {
        width: 100%;
      }
    }
    .content {
      @include flex;
      justify-content: center;
      align-items: center;
      &-des {
        h3 {
          font-size: 30px;
          font-weight: 800;
          color: #f2792a;
          text-align: center;
          margin-bottom: 20px;
        }
        .action {
          text-align: center;
          margin-bottom: 16px;
          .btn {
            padding: 0px;
            margin: 0px 20px;
            a {
              @include flex;
              justify-content: center;
              align-items: center;
              width: 76px;
              height: 40px;
              background-color: #d7d7d7;
              border: 2px solid transparent;
              @include border-radius(40px);
              @include transition(all 0.3s);
              &:hover {
                background-color: #f2f2f2;
                border: 2px solid #f2792a;
              }
            }
            span {
              font-size: 12px;
              font-weight: 800;
              color: #2a354c;
            }
          }
        }
        .content-editor {
          overflow: auto;
          height: 250px;
        }
      }
    }
  }
}
